<p style="font-weight: 700; font-size: 30px; color: blue">Dear <%= name %>,</p>
<p>
  Thanks for signing up for Nice App. We're very excited to have you on board.
</p>

<p>Here are your account details:</p>
<ul>
  <li>Email: <%= email %></li>
  <li>Login: <%= loginUrl %></li>
</ul>

<p>Thanks!</p>
<p>NestJs Blog Support</p>
